@model ParkingLotModel
@using Microsoft.AspNetCore.Identity
@using CarAccessService; 
@inject UserManager<ApplicationUser> SignInManager
@{

    var showButtons = (bool)ViewData["ShowButtons"];
    var TempdatauserId = TempData["userIDString"];
    

    string userIdString = Model.SpaceShip.ApplicationUser.Id; 
   

    

}
<div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
    <div class="card-header">
        @if (@Model.SpaceShipID == null )
        {
            <i class="bi bi-p-square-fill" style="font-size: 4rem"></i>
            <h2>Open parking Spot</h2>
            <h3>Parking Slot: @Model.parkingLotNumber</h3>
            <h3>Parking Level: @Model.parkingLotLevel</h3>
        }
        else
        {
            if (Model.SpaceShip.ApplicationUserId != null)
            {
                if (Model.SpaceShip.ApplicationUserId == TempdatauserId){
                    <i class="bi bi-rocket-takeoff" style="font-size: 4rem"></i>
                    <h2>parking Spot is occupied</h2>
                    <h3>Parking Slot: @Model.parkingLotNumber</h3>
                    <h3>Parking Level: @Model.parkingLotLevel</h3>
                }
             
            }
            else
            {

            }
          
        }
  

    </div>


    @if (showButtons)
    {
        <div class="card-footer text-center">

            @if (@Model.SpaceShipID == null)
            {
                <a asp-page="Park" asp-route-id="@Model.SpaceParkingLotId"  class="btn btn-primary">Park</a>

            }
            else
            {
                if (Model.SpaceShip.ApplicationUserId != null)
                {
                    if (userIdString == TempdatauserId)
                    {
                        <a asp-page="LeavePark" asp-route-id="@Model.SpaceShipID" class="btn btn-primary">Leave Park</a>
                    }
                 
                   
                }
              
            }
       
        
        </div>
    }

</div>