@model ParkingLotModel
@{

    var showButtons = (bool)ViewData["ShowButtons"];
  

}
<div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
    <div class="card-header">
        @if (@Model.SpaceShipID == null)
        {
            <i class="bi bi-p-square-fill" style="font-size: 4rem"></i>
            <h2>Open parking Spot</h2>
        }
        else
        {
            <i class="bi bi-rocket-takeoff" style="font-size: 4rem"></i>
            <h2>parking Spot is occupied</h2>
        }
        <h3>Parking Slot: @Model.parkingLotNumber</h3>
        <h3>Parking Level: @Model.parkingLotLevel</h3>

    </div>


    @if (showButtons)
    {
        <div class="card-footer text-center">

            @if (@Model.SpaceShipID == null)
            {
               <a asp-page="Park" asp-route-id="@Model.SpaceParkingLotId"  class="btn btn-primary">Park</a>
            
            }
            else
            {
              
                <a asp-page="LeavePark" asp-route-id="@Model.SpaceShipID" class="btn btn-primary">Leave Park</a>
            }
       
        
        </div>
    }

</div>