@page

@model UltimateSpaceShipPark.Pages.TheParkingLot.IndexEntreModel
@{
    ViewData["ShowButtons"] = true;
    var showButtons = (bool)ViewData["ShowButtons"];
   
   
   

   
    //var currenShipUserID = Model.spaceShipModels.Where(e => e.ApplicationUserId == Model.userIDString);

}

<!-- Shows user the recite -->
@if(Model.FormResult == null)
{

}else{
    <div class="card m-3">
        <div class="card-header">
            <h4>@Model.FormResult</h4>
        </div>
    </div>
}


<h1>Space Parking Spots</h1>
<!--To get our beautiful parking spots appearing next to each other we store the objects in another list, we then print our new list in three objects instead. Stackoverflow is a nice place-->
@foreach (var row in Model.ParkingSpot
   .Select((item, index) => new { item, index })
   .GroupBy(_ => _.index / 3, _ => _.item)
)
{
    <div class="row">
        @foreach (var item in row)
        {

            if (item.SpaceShipID != null)
            {
            
                var currentShip = @Model.spaceShipModels.FirstOrDefault(n => n.ApplicationUserId == Model.userIDString);
                if(Model.applicationUser.SpaceShip != null)
                {
                    Model.spaceshipIdprop = currentShip.ApplicationUserId;
                }
               
                
            }
            <div class="col">

                @*<partial name="/Pages/Shared/_DisplayParkingLots.cshtml" model="item" view-data="ViewData" />*@
                
             
             
                    @if (item.SpaceShipID == null)
                {
                       <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                        <div class="card-header">
                            <i class="bi bi-p-square-fill" style="font-size: 4rem"></i>
                            <h2>Open parking Spot</h2>
                            <h3>Parking Slot: @item.parkingLotNumber</h3>
                            <h3>Parking Level: @item.parkingLotLevel</h3>
                        </div>
                        <div class="card-footer text-center">
                            <a asp-page="Park" asp-route-id="@item.SpaceParkingLotId" style="ml-auto" class="btn btn-primary">Park</a>
                        </div>
                    </div>
                }
                    else
                    {

                    if (Model.spaceshipIdprop == Model.userIDString)
                        {
                        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                            <div class="card-header">
                                <i class="bi bi-rocket-takeoff" style="font-size: 4rem"></i>
                                <h2>parking Spot is occupied</h2>
                                <h3>Parking Slot: @item.parkingLotNumber</h3>
                                <h3>Parking Level: @item.parkingLotLevel</h3>
                           @*     <h3>Parking Slot: @Model.parkingLotNumber</h3>
                                <h3>Parking Level: @Model.parkingLotLevel</h3>*@
                            </div>
                            <div class="card-footer text-center">
                                <a asp-page="LeavePark" asp-route-id="@item.SpaceShipID" style="ml-auto" class="btn btn-primary">Leave Park</a>
                            </div>
                        </div>
                        }
                    }
           
              
            </div>
        }
        <!-- empty columns -->
        @for (var i = 0; i < row.Count() % 3; i++)
        {
            <div class="col">
                &nbsp;
            </div>
        }
    </div>
}
